/* Logo styling */
.logo a {
  font-size: 300% !important;
  color: #34E4CB !important;
  font-family: 'Futura', 'Jost', sans-serif !important;
  font-weight: bold !important;
  letter-spacing: -3px !important;
}
