/* Logo styling */
.logo a {
  font-size: 300% !important;
  color: #00A19B !important;
  font-family: 'Futura', 'Jost', sans-serif !important;
  font-weight: bold !important;
  letter-spacing: -2px !important;
}

/* Vorige/Volgende navigatie kleur */
.paginav a {
  color: #34E4CB !important;
}
