.logo a {
  font-family: "Futura", "Futura-Bold", "Arial Black", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #0000FE !important;
  font-size: 3em;
  padding-top: 20px;
  display: inline-block;
}
