.post-single .post-content {
  max-width: 750px;
  margin: 0 auto;
}
.post-single .post-header {
  max-width: 750px;
  margin: 0 auto;
}
.post-single .post-footer {
  max-width: 750px;
  margin: 0 auto;
}
